		<footer>
			{{!-- <h4>todos los derechos reservados -- footer.hbs</h4> --}}
		</footer>
		<script src="js/jquery.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>