<!DOCTYPE html>
<html>
	<head>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h4 class="display-5">Entrega 2</h4>
				<hr class="my-4">
			</div>

		<navbar class="nav-tabs" style="background-color: #e3f2fd;">
			<a href="/">Inicio</a>
			{{!-- <a href="/listado">Listado</a> --}}
			<a href="/crear">Crear Curso</a>
			<a href="/listadoCursos">Ver Cursos</a>
			<a href="/inscribir">Inscribir</a>
			<a href="/listadoInscritos">Ver Inscritos</a>
		<navbar>
		</div>	
		  <meta charset="utf-8">
  			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    		<!--Bootstrap css -->
			<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
			<title>Entrega 2 - matriculas</title>
	</head>

	<body>
		<header>
			{{!-- <h2>Promedio {{curso}} -- header.hbs</h2> --}}
		</header>
		
