{{>header}}
<br>
{{!-- <p align="center">{{{selectCursos}}}</p> --}}
<h4 align="center">Lista de cursos para el Admin:</h4>
{{cambiarEstadocurso id nombre modalidad valor descripcion intensidad estado}}
{{{verlistarCursos}}}
<br>
{{>footer}}