{{>header}}
	<h2>Bienvenido al sitio </h2>
{{!-- 	<br>
	<p>Ingrese los datos en el siguiente formulario</p>
	<form action="/calculos" method="post">
		<div class="form-group">
			<label>Nombre</label>
			<input type="text" class="form-control" name="nombre" placeholder="Nombre de estudiante" required>
			<div class="row">
				<div class="col">
					<label>Nota 1</label>
					<input type="number" class="form-control" name="nota1" placeholder="nota 1" required>
				</div> 
				<div class="col">
					<label>Nota 2</label>	
					<input type="number" class="form-control" name="nota2" placeholder="nota 2" required>
				</div>
				<div class="col">
					<label>Nota 3</label>
					<input type="number" class="form-control" name="nota3" placeholder="nota 3" required>
				</div>
			</div>
			<button class="btn btn-primary">Calcular Promedio</button>
		</div>
	</form>
	{{{listar}}}
	<br> --}}
{{>footer}}