{{>header}}
		<p>Matricula</p>
		
		<p>
			{{!-- El promedio de {{estudiante}} es: {{obtenerPromedio nota1 nota2 nota3}} -- calculos.hbs --}}
			{{matricularCurso documento email nombre telefono curso}}
		</p>
{{>footer}}