{{>header}}
<br>

<h4 align="center"> Seleccione el curso para ver los inscritos: </h4>
			<div class="col-6 col-sm-4">
				<p align="right">Cursos Disponibles:<br> </p>
					<p align="center">{{{selectCurso}}}</p>
				
			</div>
{{!-- {{{listardetalleInscritos}}} --}}
{{>footer}}