{{>header}}
<br>
{{!-- <p align="center">{{{selectCursos}}}</p> --}}
<h4 align="center">Lista de cursos para el Admin:</h4>
{{{verlistarCursos}}}
<br>

<h4 align="center"> Lista de cursos disponibles para el interesado: </h4>
{{{listardetalleCurso}}}
{{>footer}}